@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.about{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.095); 
    border-radius: 10px;
    width: 40rem;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.about:hover {                /* img:not(.personal-pic) para excluir la imagen*/
    opacity: 0.85;
    pointer-events: all;
    transition: 0.3s;
}

.container-info{
    color: #257ed7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

 .personal-pic{
    border-radius: 20px;
} 

.img-linkedlin{

}

.texto-link{
    color:#257ed7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}