.container{
    color: #257ed7 !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

    width: 18rem;
    height: 18.3rem;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.196); 
    text-decoration: none;
    border-radius: 10px;
}
.container:hover{
    opacity: 0.8;
}

.info{
    /* color: rgb(253, 58, 58); */
}