.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
}

.wrapperApp{
    background-image: url('https://c0.wallpaperflare.com/preview/1002/560/966/land-rover-iceland-four-wheel-drive-truck.jpg');
    background-size: cover;
    background-position: 75% 15%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}

@media (max-width: 790px) {
    .containerCards{
        height: calc(100vh);
    }
    .wrapperApp{
        background-position: 30% 20%;
    width: 100%;
    height: auto;
    }
  }

